body {
    background-color:rgb(202, 219, 234);
    text-align: center;
    font-family: 'Poor Story', cursive;
}

.mainTitle {
    color:rgb(55, 82, 140);
}

button {
    height: 30px;
    width: 50px;
    background-color: rgb(114, 191, 254);
}

.press {
    height: 30px;
    width: 220px;
    background-color: rgb(114,191,254);
}

img {
    width: 200px;
}

img:hover {
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

a:link, a:visited {
    color:rgb(13, 0, 255);
}

a:hover, a:active {
    color: black;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    padding-top: 10px;
}
