body {
    background-color:rgb(169, 199, 224);
    text-align: center;
}

.mainTitle {
    color:rgb(55, 82, 140);
}

button {
    height: 30px;
    width: 50px;
    background-color: rgb(220, 162, 207);
}

img {
    width: 200px;
}

img:hover {
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

a:link, a:visited {
    color:rgb(94, 34, 75);
}

a:hover, a:active {
    color: black;
}
