.mainTitle {
    color:rgb(200, 111, 141);
}

button {
    color:rgb(83, 57, 19);
    height: 30px;
    width: 50px;
    background-color: blanchedalmond;
}

img {
    width: 200px;
}

img:hover {
    cursor: pointer;
}
